$line = 1.2em
$search_height = 24px
$primary_color = #dd4b39
$selected_text_color = #eee
$selected_text_shadow_color = rgba(0, 0, 0, 0.3)
$border_color = darkgrey


body
    overflow: hidden  // Keep OS X from bouncing our whole UI around
    font-family: 'Source Sans Pro'

#searchbar
    position: absolute
    font-family: inherit
    top: 0
    left: 0
    width: 100%
    height: $search_height

#searchbox
    font-size: 100%
    font-family: inherit
    width: 100%
    height: 100%
    padding: 0
    outline: none

#notelistcol
    position: absolute
    top: $search_height + 4px
    bottom: 0
    left: 0
    overflow: auto
    width: 30%
    border-right: 1px solid $border_color

#noteviewcol
    position: absolute
    top: $search_height + 4px
    bottom: 0
    right: 0
    overflow: auto
    width: 70%
    box-sizing: border-box

.notelistitem
    padding-top: 1px // Necessary to prevent .notelist-title margin from collapsing
    font-size: 80%
    box-sizing: border-box
    border-bottom: 1px solid $border_color
    cursor: pointer

.notelist-title
    margin: 0.4em 0.4em 0.2em 0.4em // Top Right Bottom Left
    line-height: $line
    height: ($line * 1)
    font-weight: bold
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
    box-sizing: border-box

.notelist-preview
    margin: 0.2em 0.4em 0.4em 0.4em
    line-height: $line
    height: ($line * 2)
    color: darkgrey
    text-overflow: ellipsis
    overflow: hidden
    z-index: 100
    box-sizing: border-box

.active-notelistitem
    background-color: $primary_color
    
.active-notelistitem .notelist-title
.active-notelistitem .notelist-preview
    color: $selected_text_color
    text-shadow: 1px 1px $selected_text_shadow_color

.note-view
    font-size: 100%
    font-family: inherit
    width: 100%
    height: 100%
    resize: none
    border: none
    border-left: 1px solid $border_color
