@font-face {
  font-family: 'Typicons';
  src: url("../res/typicons-regular-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
#searcheditbutton {
  width: 22px;
  height: 22px;
  background-color: #dd4b39;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 1px;
  margin-right: 1px;
  border-radius: 2px;
  cursor: pointer;
}
#searcheditbutton:hover {
  background-color: #c53727;
  background-image: linear-gradient(top, #dd4b39, #c53727);
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
#searcheditbutton:active {
  background-color: #b0281a;
  background-image: linear-gradient(top, #dd4b39, #b0281a);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}
#searchediticon {
  position: absolute;
  margin-top: 3px;
  margin-left: 1px;
  color: #fff;
  font-family: 'Typicons';
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
}
body {
  overflow: hidden;
  font-family: 'Source Sans Pro';
}
#searchbar {
  position: absolute;
  font-family: inherit;
  top: 0;
  left: 0;
  width: 100%;
  height: 24px;
}
#searchbox {
  font-size: 100%;
  font-family: inherit;
  width: 100%;
  height: 100%;
  padding: 0;
  outline: none;
  border: none;
  border-bottom: 1px solid #a9a9a9;
}
#notelistcol {
  position: absolute;
  top: 25px;
  bottom: 0;
  left: 0;
  overflow: auto;
  width: 30%;
  border-right: 1px solid #a9a9a9;
}
#noteviewcol {
  position: absolute;
  top: 25px;
  bottom: 0;
  right: 0;
  width: 70%;
  box-sizing: border-box;
}
.notelistitem {
  padding-top: 1px;
  font-size: 80%;
  box-sizing: border-box;
  border-bottom: 1px solid #a9a9a9;
  cursor: pointer;
}
.notelist-title {
  margin: 0.4em 0.4em 0.2em 0.4em;
  line-height: 1.2em;
  height: 1.2em;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  box-sizing: border-box;
}
.notelist-preview {
  margin: 0.2em 0.4em 0.4em 0.4em;
  line-height: 1.2em;
  height: 2.4em;
  color: #a9a9a9;
  text-overflow: ellipsis;
  overflow: hidden;
  z-index: 100;
  box-sizing: border-box;
}
.active-notelistitem {
  background-color: #dd4b39;
}
.active-notelistitem .notelist-title,
.active-notelistitem .notelist-preview {
  color: #eee;
  text-shadow: 1px 1px rgba(0,0,0,0.3);
}
.note-view {
  font-size: 100%;
  font-family: inherit;
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  border-left: 1px solid #a9a9a9;
}
.note-view:focus {
  outline: #dd4b39 auto 5px;
}
